body {
    font-family: Arial;
    padding: 20px;
    background: #17212f !important;;

}

.header {
    padding: 0px;
    font-size: 40px;
    text-align: center;
    background: white;
}

.leftcolumn {
    float: left;
    width: 65%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 35%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    background: #1f2d40;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

.customCalendar {
    width: 100%;
}
